{
	"extends": [ "axway/env-node", "axway/+babel" ],
	"globals": {
		"appcd": "readonly"
	},
	"rules": {
		"node/no-unsupported-features/es-syntax": "off",
		"nuxt/no-cjs-in-config": "off",
		"require-atomic-updates": "off"
	}
}
